.main--1 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: 20rem 15rem min-content;
  grid-template-columns: repeat(2, 50%);
  align-content: center;
  justify-items: center;

  display: none;
}

.home {
  &__animation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: center;
  }

  &__img {
    height: 25rem;
    width: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border-radius: 5rem;
    align-self: center;
  }

  &__links {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template-rows: min-content 9rem;
    grid-template-columns: repeat(3, minmax(min-content, 8rem));
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  &__link {
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    grid-row: 2 / 3;

    &--1 {
      grid-column: 1 / 2;
    }

    &--2 {
      grid-column: 2 / 3;
    }

    &--3 {
      grid-column: 3 / 4;
    }
  }
  &__span {
    align-self: end;
    font-size: 1rem;
    font-weight: 500;
    grid-row: 1 / 2;
    &--1 {
      grid-column: 1 / 2;
    }
    &--2 {
      grid-column: 2 / 3;
    }
    &--3 {
      grid-column: 3 / 4;
    }
  }

  &__icon {
    font-size: 4rem;
    color: var(--color-primary);
    opacity: 0.7;
    transition: opacity 0.7s;

    &:hover {
      opacity: 1;
      animation: moveIn 0.5s;
      animation-fill-mode: forwards;
    }

    &--cv {
      color: var(--color-secondary);
    }
    &--github {
      color: #fff;
    }
    &--linkedin {
      color: #0077b5;
    }
  }
}

.heading2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-self: center;
}

.link:link,
.link:visited {
  opacity: 0.8;
  text-decoration: none;
  color: var(--color-secondary);
  transition: opacity 0.3s;
}
.link:hover,
.link:active {
  opacity: 1;
}

@media only screen and (max-width: $bp-medium) {
  .main--1 {
    grid-row: 2 / 3;
    grid-column: 2 / 6;
    grid-template-rows: 20rem min-content 19rem min-content;
    row-gap: 6rem;
    grid-template-columns: repeat(4, 25%);
    padding-top: 3rem;
  }

  .home {
    grid-column: 1 / 5;
    &__animation {
      grid-row: 1 / 2;
      grid-column: 2 / 4;
    }
    &__img {
      height: 18rem;
      width: auto;
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      align-self: center;
      justify-self: end;
      margin-right: 5rem;
    }
    &__text {
      grid-column: 1 / 5;
      grid-row: 4 / 5;
      padding: 0 4rem 4rem 4rem;
      text-align: justify;
    }
    &__links {
      grid-row: 3 / 4;
      grid-column: 3 / 5;
      align-content: center;
      justify-self: start;
      margin-left: 1rem;
    }
    &__icon,
    &__icon:hover {
      opacity: 0.9;
      animation: none;
    }
  }
  .heading2 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .link:link,
  .link:visited,
  .link:hover,
  .link:active,
  .link {
    opacity: 1;
  }
}

@media only screen and (max-width: $bp-small) {
  .main--1 {
    grid-column: 1 / 7;
    row-gap: 3rem;
    padding-top: 0;
  }

  .home {
    &__text {
      padding: 0 3rem 3rem 3rem;
    }
    &__links {
      margin-right: 1rem;
      margin-left: 0;
      transform: translateX(-2rem);
    }
    &__link {
      padding: 0;
    }
    &__img {
      margin-right: 4rem;
      width: 60%;
      height: auto;
    }
    &__icon {
      font-size: 3.5rem;
    }
  }

  .heading2 {
    padding: 0 3rem;
    text-align: center;
  }
}

@media only screen and (max-width: 25em) {
  .main--1 {
    row-gap: 1rem;
  }
}
